%p
  Installing ASIN for Rails
  = Rails.version
  is easy. Just put it into your
  %code= link_to 'Gemfile', 'https://github.com/phoet/asin_web/blob/master/Gemfile'

~ highlight('Gemfile')

%p
  ASIN has a modular setup and is built on top of the HTTP adapter library
  = link_to 'HTTPI.', 'http://github.com/rubiii/httpi'
  Since
  = link_to 'Curb', 'https://github.com/taf2/curb'
  is my favourite HTTP library, i put this into the
  %code= link_to 'Gemfile', 'https://github.com/phoet/asin_web/blob/master/Gemfile'
  too.
