!!! utf-8
%html
  %head
    %title= "#{title} - #{subtitle}"

    %meta{charset: "utf-8"}
    %meta{name: "description", content: "#{title} - #{subtitle}"}
    %meta{name: "author", content: "Peter Schröder"}

    %link{rel: 'shortcut icon', href: image_path('asin_icon.png')}
    %link{rel: "author", href: "humans.txt"}

    = csrf_meta_tag
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Holtwood+One+SC'
    %style
      = highlight_css

  %body
    <a href="https://github.com/phoet/asin"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    #content
      = render 'nav'

      %header
        %h1= title
        %h3
          examples using
          = link_to "the ASIN gem", 'https://rubygems.org/gems/asin'

      = yield

      = render 'ga'

      %footer
        This information is brought to you by:
        = link_to '@phoet', 'http://twitter.com/#!/phoet'
